    <p>
      El mensaje es: <%=h @mensaje %>
    </p>
    <ul>
      <% @colors.each do |color| %>
        <li><%=h color %></li>
      <% end %>
    </ul>
    <p>
      You've accessed this page <%=h @count %> times.
    </p>
    <p>
      This page has been accessed <%=h @global_count %> times in total.
    </p>